body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  max-height: 100vh;
  background-color: darkslategrey;
}
.app {
  display: flex;
  flex-direction: row;
  place-content: center;
  margin: 100px 0 0 0;
}
.game__board {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}
.game__board img {
  width: 70px;
  height: 70px;
}
